html, body {
    padding: 0;
    margin: 0;
}
.header {
    width: 100vw;
    background-image: url('./img/Mfes2_169.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.header h1 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    font-family: serif;
    font-size: 50px;
    color: white;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}


.mein li{
    float: left;
    padding:30px 60px;
    font-size: 25px;

}

.footer{
    background-color: darkgrey;
    margin-top: 1000px;
}

